.orderForm{font-size:85%; margin-left:2%; margin-right:2%;}
td{font-size:85%;}
th{font-size:85%;}
#hdr{display:none;}
#footer {display:none;}
h3 {font-size:100%;}
h2 {font-size:110%;}
h2 {font-size:120%;}
.tiny {font-size:70%;}
table.padded tr {padding-top:5%;}
